 @import 'bootstrap/dist/css/bootstrap';
  /* Dropdown Button */
 .dropbtn {
   background-color: #4CAF50;
   color: white;
   padding: 16px;
   font-size: 16px;
   border: none;
 }

 /* The container <div> - needed to position the dropdown content */
 .dropdown {
 position: relative;
 display: inline-block;
 margin-left:840px;
 
 }

 /* Dropdown Content (Hidden by Default) */
 .dropdown-content {
 display: none;
 position: absolute;
 background-color: #f1f1f1;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
 }

 /* Links inside the dropdown */
 .dropdown-content a {
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
 }

 /* Change color of dropdown links on hover */
 .dropdown-content a:hover {background-color: #ddd;}

 /* Show the dropdown menu on hover */
 .dropdown:hover .dropdown-content {display: block;}

 /* Change the background color of the dropdown button when the dropdown content is shown */
 .dropdown:hover .dropbtn {background-color: #3e8e41;} 

 .signup{


 	align-content: center;
 	text-align: center;

 	margin-top: 100px;
   	margin-bottom: 100px;
   	margin-right: 200px;
   	margin-left: 250px;
   	background-color: white;
   	height: 500px;
 	width: 350px;
 	background-color: #white;
 	border-radius: 15px;
   }
 .actions{


 }

 .field{

 }

 .email{
 	margin: 6px;
 	border-radius: 8px;
 	height: 40px;
 	width: 265px;
 }

 .log1{

 	align-content: center;
 	text-align: center;
 	margin-top: 100px;
   	margin-bottom: 100px;
   	margin-right: 200px;
   	margin-left: 250px;
   	background-color: white;
   	height: 500px;
 	width: 350px;
 	background-color: #white;
 	border-radius: 15px;
 }

 .log2{
 	margin: 6px;
 	border-radius: 8px;
 	height: 40px;
 	width: 265px;
 }

 .log3{

 	margin-top: 40px;
 	margin-bottom: 5px;
 }

 .button{
 	border-radius: 15px;
 	background-color: rgba(189,89,212,.8);
 	width: 100px;
 	height: 30px
 }

.logo{
  position:absolute;
  height: 56px;
  width: 42px;
  margin-left:auto;
  margin-right:auto;
}

.pretty th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.pretty th .asc {
  background-image: url(/images/up_arrow.gif);
}

.pretty th .desc {
  background-image: url(/images/down_arrow.gif);
}
